@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #d3d5fd;
}
/* 
.container {

} */

.fake-header {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-header img{
        width: 137,5px;
        height: 65px;
} 

.menu{
    display: flex;
    text-align: center;
    justify-content: center;

}

.menu .nav-header {
    display: inline;
    list-style: none;
    font-weight: 700;
    padding-top: 50px;
    
}

.menu .nav-header li {
    display: inline;
    line-height: 20px;
    font-size: 20px;
   
}

.nav-header li + li {

    margin-left: 15px;
    
}

/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.card {
    background: #212d40;
    height: 350px;
    width: 300px;
}

.card .title {
    display: flex;
    justify-content: end;
}

.model {
    margin-top: 80px;
    display: flex;
    background: #212d40;
}
/* 
.info {
    
} */

.card2{
    height: 250px;
    width: 250px;
    background: #d3d5fd;
}


