@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #d3d5fd;
}
/* 
.container {

} */

.fake-header {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    width: 80%;
}

.img-header img{
    width: 155px;
    height: 77px;
} 

.menu{
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu .nav-header {
    display: inline;
    list-style: none;
    font-weight: 700;
    padding-top: 35px;
}

.menu .nav-header li {
    display: inline;
    font-size: 20px;
   
}

.nav-header li + li {

    margin-left: 15px;
    
}

/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.card {
    background: #212d40;
    height: 200px;
    width: 370px;
    border-radius: 20px;
    margin-top: 10px;
    margin: 30px;
    box-shadow: 2px 2px 5px #474A56;
}

/* .card:hover{
    background: #212d40;
    width: 380px;
    height: 210px;
    transition: 0.1s;
} */

.card img {
    height: 200px;
    width: 370px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #474A56;
}

.card img:hover{
    color: #212d40;
    width: 380px;
    height: 210px;
    transition: 0.1s;
}

.card .title {
    display: flex;
    justify-content: end;
}

.model {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 28px;
    background: #212d40;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px 5px #474A56;
} 

.card2{
    border-radius: 20px;
    background-color: #868c99;
    width: 230px;
    height: 150px;
    margin: 30px;
    box-shadow: 2px 2px 5px #474A56;
}

.card2 img{
    width: 250px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #474A56;
}

.card2 img:hover{
    color: #d3d5fd31;
    width: 250px;
    transition: 0.1s;
}

.cards2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1,5%;
    padding-left: 10%;
    padding-right: 10%;
}

.cards2 div:hover{
    color: #d3d5fd31;
    border: solid;
    width: 250px;
    transition: 0.1s;
}

.footer{
    padding: 1%;
    width: 100%;
    height: auto;
    background: #212d40;
    justify-content: center;
    align-items: center;
}

#h2-footer{
    text-align: center;
    margin: 10px;
    color: white;
}

.footer-names{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-footer{
    width: 45px;
    height: 45px;
}

.footer li{
    list-style: none;
    margin: 15px;
    display: inline-block;
}

.footer li a:hover{
    color: #a0a3ce;
    text-decoration: #a0a3ce;
    transition: 1s;
}

.footer a{
    text-decoration: none;
    color: #D3D5FD;
    text-decoration: #a0a3ce;
    transition: 1s;
}
